# port at which server will listen
PORT=5000

# url at which this server is running
BASE_URL=http://localhost:5000

# connection url of your mongodb
MONGODB_URI=

# set environment as production or developemnt 
NODE_ENV=devlopement

# your private key
JWT_SECRET=

# url and domain of your reverse proxy server
PROXY_SEVER_URL=http://localhost:5000
PROXY_SEVER_DOMAIN=localhost:5000

# stmp credentails 
SMTP_USER=
SMTP_PASS=

# Cookie servret
COOKIE_SECRET=

# aws s3 credentials
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_S3_BUCKET_BASE_URL=

