name: Build Docker Image

on:
    push:
        branches: ['main']

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install client dependencies
              working-directory: ./client
              run: npm ci --production=false

            - name: Build client
              working-directory: ./client
              run: npm run build

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: true
                  tags: alokskj/instahost:latest
            - name: executing remote ssh commands using password
              uses: appleboy/ssh-action@v1.1.0
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ${{ secrets.EC2_USERNAME }}
                  key: ${{ secrets.EC2_KEY }}
                  script: |
                      sudo docker pull alokskj/instahost:latest
                      sudo docker stop instahost
                      sudo docker rm instahost
                      sudo docker run -d --env-file ./.env -p 80:80 --name instahost alokskj/instahost
